<div class="form-group email {{if errorList.email 'has-error'}}">
  <label class="control-label" for="login-email">{{t 'nouns.email'}}</label>
  {{input type="text"
          value=email
          id="login-email"
          autocomplete="email"
          name='email'
          placeholder=(t 'prompts.example_email')
          class="form-control"
          enter="signIn"
  }}
  {{#if errorList.email}}
    <span class="help-block">{{t errorList.email}}</span>
  {{/if}}
</div>
<div class="form-group password {{if errorList.password 'has-error'}}">
  <label class="control-label" for="login-password">{{t 'nouns.password'}}</label>
  {{input type="password"
          id="login-password"
          autocomplete="off"
          value=password
          name='password'
          placeholder=(t 'prompts.password')
          class="form-control"
          enter="signIn"
  }}
  {{#if errorList.password}}
    <span class="help-block">{{t errorList.password}}</span>
  {{/if}}
</div>
<div class="form-group sign-checkbox">
  <div class="checkbox">
    <label>
      {{input
        type="checkbox"
        change=authService.toggleRememberMe
        checked=authService.rememberMe
      }} {{t 'authentication.remember_login'}}
    </label>
  </div>
</div>
<div class="pull-right">
  <a href="#" {{action 'sendToRetrievePassword' target="authService"}}>
    {{t 'authentication.forgot'}}</a>
</div>
<div class="clearfix"></div>

{{#if processing}}
  <div class="signon-spinner">
    {{tool/loading-spinner loadingText=(t 'authentication.processing.sign_in')}}
  </div>
{{else}}
  <a href="#" {{action 'signIn'}}
     role="button"
     title="{{t 'accessibility.submit'}}"
     class="btn-block btn-primary btn btn-raised text-uppercase"
  >
    {{#if web3Service.allowsWeb3}}
      {{t 'authentication.sign_in_with_password'}}
    {{else }}
      {{t 'authentication.sign_in'}}
    {{/if}}
  </a>

{{/if}}