<div class="panel-body signin-form">
  <div class="col-sm-12">
    <strong>{{t 'authentication.sign_in'}}</strong>
    {{auth/login-form}}
  </div>
</div>
{{#if allowsSignup}}

  <div class="panel-footer text-center">
    {{t "authentication.new_user"}}
    <a href="#" {{action "setAuthTab" "register"}}
       title="{{t 'accessibility.switch'}}">
      {{t "authentication.link.sign_up"}}</a>
    {{t "authentication.fast_easy_free"}}

  </div>
{{/if}}