<div class="panel panel-default untabbed-modal-panel request-password-panel">

  <div class="panel-body">
    <strong>{{t 'authentication.request_password.title'}}</strong>
    <p>{{t 'authentication.request_password.instructions' decision=registry.decision.title}}</p>

    {{#if sent}}
      <strong>{{t "authentication.request_password.sent_notice"}}</strong>
      <div class="clearfix"></div>
      <a href="#" {{action 'sendToSignIn' target=authService}}
         class="btn-block btn-primary btn btn-raised text-uppercase ">
        {{t 'authentication.link.sign_in'}}
      </a>

    {{else}}

      {{#if errorList.auth}}
        <div class="alert alert-danger">
          {{t errorList.auth}}
        </div>
      {{/if}}

      <div class="form-group {{if errorList.email 'has-error'}}">
        <label class="control-label">{{t 'nouns.email'}}</label>
        {{input type="text"
                value=email
                name='email'
                placeholder=(t 'prompts.example_email')
                class="form-control"
        }}
        {{#if errorList.email}}
          <span class="help-block">{{t errorList.email}}</span>
        {{/if}}
      </div>

      <div class="clearfix"></div>
      {{#if processing}}
        <div class="signon-spinner">
          {{tool/loading-spinner loadingText=(t 'authentication.processing.request_password')}}
        </div>
      {{else}}
        <a href="#" {{action 'requestPassword'}}
           role="button"
           title="{{t 'accessibility.submit'}}"
           class="btn-block btn-primary btn btn-raised text-uppercase"
        >
          {{t 'authentication.request_password.action'}}
        </a>
      {{/if}}
    {{/if}}

    <div class="panel-footer text-center">
      {{t 'authentication.existing_user'}}
      <a href="#" {{action 'sendToSignIn' target=authService}}>
        {{t 'authentication.link.sign_in'}}
      </a>

      {{#if allowsSignup}}
        <br/>
        {{t 'authentication.new_user'}}
        <a href="#" {{action 'sendToSignUp' target=authService}}>
          {{t 'authentication.link.sign_up'}}
        </a>
        {{t 'authentication.fast_easy_free'}}
      {{/if}}
    </div>

  </div>
</div>