<div class="range-slider balance-slider-wrapper {{sliderClass}}" id={{sliderId}}>
  <div class="slider-labels">
    <span class="pull-left">{{#if showTitle}}{{calculation.prLabel}}{{/if}}</span>
    <span class="pull-right"></span>
  </div>

  <input type="text" value={{sliderValue}} id={{inputId}} class="slider-target">

  <p class="balance-message"><b>{{sliderMessage}}</b></p>

</div>
