<div class="container-fluid voting-option-page" id={{page.componentId}}>
  {{bootstrap/bootstrap-modal-balance}}

  <!-- ROW ONE -->
  <div class="row special" id="row1">
    {{layout/left-column page=page}}

    {{#layout/center-column page=page}}

      {{tool/content-panel key='center' page=page}}

      {{#each sortedCriteria as |criterion index|}}
        {{#voting/criterion-panel page=page criterion=criterion option=option bottomPaneRequired=hasitemListComments}}
          {{#if hasitemListComments}}
            {{comments/list-parents
              target=option
              target2=criterion
              titleOverride=false
              includeCommentForm=true
              orderCommentsByLikes=page.hasCommentOrderLikes
              contentPrompt=(scopet 'content_prompt' 'comments.criteria' translationScope defaultIsUnscoped=true default='empty_default')
              titlePrompt=(scopet 'title_prompt' 'comments.criteria' translationScope defaultIsUnscoped=true default='empty_default')
              instruct=(scopet 'instruct_html' 'comments.criteria' translationScope defaultIsUnscoped=true default='empty_default')
            }}
          {{/if}}
        {{/voting/criterion-panel}}

      {{/each}}

      {{#if hasCenterPageComments}}
        {{comments/collapse-panel
          id='page-comments-position-center'
          page=page
          titleOverride=page.hasPageCommentTitleOverride
          target=page.dataSource
          targetScope='comments.options'
        }}
      {{/if}}

      {{tool/content-panel key='center_two' page=page}}

    {{/layout/center-column}}

    {{layout/right-column
      page=page
      decision=decision
      pageCommentTarget=pageCommentTarget
      pageCommentScope=pageCommentScope
      hasSidebarPageComments=hasSidebarPageComments
    }}

  </div>
  <!-- END OF ROW ONE -->
</div>