<div class="primary-accent-bg navbar-fixed-bottom {{if tabbedContentSelected 'fixedFooter' 'staticFooter'}}" role="navigation">
  <div class="container-fluid">
    <div>

      <ul class="mobile-navbar nav navbar-nav ">
        <li>
          <span><a class="header" target="_blank" href="{{t 'authentication.docs.privacy_url'}}" title={{t 'accessibility.opens_in_new_tab'}}>{{t 'footer.privacy'}}</a></span>
        </li>
        <li>
          <span><a class="header" target="_blank" href="{{t 'authentication.docs.usage_url'}}" title={{t 'accessibility.opens_in_new_tab'}}>{{t 'footer.usage'}}</a></span>
        </li>
        <li>
          <span><a class="header" target="_blank" href="{{t 'authentication.docs.terms_url'}}" title={{t 'accessibility.opens_in_new_tab'}}>{{t 'footer.terms_and_conditions'}}</a></span>
        </li>
      </ul>
    </div>

  </div>
</div>