<div class="side-drawer-underlay">
</div>

<div class="hidden-md hidden-lg panel panel-default side-drawer">
  {{layout/side-drawer-header}}

  <div class="panel-body">
      {{left-sidebar/menu namespace='mobile' beginCollapsed=false}}
      <hr/>
      {{layout/nav-footer-items}}
      <hr/>
      <a class="copyright" href="https://ethelo.com" target="_blank" title={{t 'accessibility.opens_in_new_tab'}}>
        <span class="sr-only">{{t 'accessibility.powered_by_ethelo'}} </span>
      </a>

  </div>
</div>